<section class="section">
    <div class="container">
        <h1 class="title">{{title}}</h1>
    </div>
</section>
<section class="section">
    <div class="container is-fluid">
        <div class="notification">
            <span class="icon has-text-info"><i class="fab fa-instagram"></i></span>
            <span class="has-text-info">Please filter on a hashtag used by Antwan:</span>

            <form action="" method="get">
                <div class="field has-addons">
                    <div class="control">
                        <input name="tag" class="input" type="text" value="{{currentTag}}" placeholder="hashtag.."/>
                    </div>
                    <div class="control">
                        <input type="submit" value="Filter" class="button is-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{{#if posts}}
    <section class="section">
        <div class="container is-ancestor image-grid" id="image-grid">
            {{#each posts}}
                <figure class="image">
                    <img class="instagram-image" src="{{images.thumbnail.url}}" alt="{{caption.text}}" data-id="{{id}}"/>
                </figure>
            {{/each}}
        </div>
    </section>
{{/if}}

<div class="modal" id="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-image">
                <figure class="image is-square">
                    <img src="" alt=""/>
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="" alt="">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4"></p>
                        <p class="subtitle is-6"></p>
                    </div>
                </div>

                <div class="content">

                </div>
            </div>
        </div>
    </div>
    <button id="modal-close" class="modal-close is-large" aria-label="close"></button>
</div>
